body{
    margin: 0;
    font-family: 'New York Extra Large', sans-serif;
    font-family: 'New York Large', sans-serif;
    font-family: 'New York Medium', sans-serif;
    font-family: 'New York Small', sans-serif;                                
}

.container{
    max-width: 1180px;
    margin: auto;
}

header {
    padding-top: 10px;
    height: 80px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
}

header .logo{
    display: inline-block;
}

header .logo img{
    width: 300px;
    height: auto;
}

header nav{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    margin-right: 24px;
    color: #000;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav ul li a img.menu-icon{
    display: none;
}

header nav ul li a:hover{
    border-bottom: solid 1px black;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

main.main-notice{
    position: relative;
}

.main-notice {
    margin: auto;
    padding-top: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}

.main-notice .container {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-notice a{
    color: #000;
    text-align: center;
    text-decoration: none;
}

.main-notice a img{
    margin: auto;
    width: 65%;
    height: auto;
}

.main-notice h1{
    margin: auto;
    width: 65%;
    padding-top: 40px;
    text-align: center;
    font-family: New York Extra Large;
    font-size: 38px;
    line-height: 100%; 
    letter-spacing: 1px;
}

.main-notice p{
    margin: auto;
    padding-top: 30px;
    max-width: 65%;
    text-align: center;
    font-family: SF Mono;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
}

div hr{
    margin-top: 50px;
    background-color: #000;
    width: 35%;
    height: 1px;
}

section.articles h2{
    margin: auto;
    padding: 10px;
    text-align: center;
}

section.articles .container{
    max-width: 590px;
    margin: auto;
}

section.articles div{
    max-width: 400px;
    height: auto;
}

#posts{
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;
}

#posts a{
    color: #000;
    text-align: center;
    text-decoration: none;
}

#posts a img{
    max-width: 100%;
}

#posts a h3{
    width: 100%; 
    font-family: SF Pro Display;
    font-weight: 400;
}

footer{
    color: #fff;
    background-color: #000;
    height: 170px;
}

footer h4{
    font-family: SF Pro Text;
    font-size: 19.54px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div img{
    width: 15%;
}

footer div p{
    width: 40%;
    text-align: center;
}

footer p{
    text-align: center;
    font-family: SF Pro Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

/*CSS MediaQuerries*/

@media screen and (max-width: 600px) {
    
    .container{
        width: 80%;
    }

    header {
        height: 65px;
    }

    header .logo img{
        width: 300px;
        height: auto;
    }

    header nav ul li a:not(header nav ul li a img.menu-icon){
        display: none;
    }

    header nav ul li a img.menu-icon{
        display: inline;
    }

    footer{
        height: 150px;
    }

    footer h4{
        font-size: 7.3px;
        letter-spacing: 1.6px;
    }
    
    
    footer div img{
        width: 15%;
    }
    
    footer div p{
        width: 40%;
    }
    
    footer p{
        font-size: 8px;
    }
    
}